AMS.NodeRED/flows.json
[{"id":"ae8c024b.8577e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a90d3ecb.9bce6","type":"mqtt in","z":"ae8c024b.8577e","name":"","topic":"sensors/fuel","qos":"0","datatype":"auto","broker":"55023115.6387a","x":150,"y":120,"wires":[["e47fdfa5.47d0b"]]},{"id":"8f2c2c79.d9008","type":"http in","z":"ae8c024b.8577e","name":"","url":"/api/tractors","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["889daf5e.1f18b"]]},{"id":"88761163.d82c","type":"http response","z":"ae8c024b.8577e","name":"response","statusCode":"200","headers":{},"x":1180,"y":340,"wires":[]},{"id":"c8187550.6686f8","type":"postgres","z":"ae8c024b.8577e","postgresdb":"245de5a5.effeda","name":"get tractor info","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":740,"y":340,"wires":[["d54fbe84.a239e"]]},{"id":"a93f2a44.381768","type":"function","z":"ae8c024b.8577e","name":"","func":"msg.queryParameters = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":340,"wires":[["c8187550.6686f8"]]},{"id":"d54fbe84.a239e","type":"function","z":"ae8c024b.8577e","name":"","func":"const tractors = [];\n\nfor(var i = 0; i < msg.payload.length; ++i)\n{\n    var row = msg.payload[i];\n    var tractor = tractors.find(t => t.TractorNumber == row.TractorNo);\n    console.log(tractor);\n  \n    if(tractor == undefined)\n    {\n        tractor = {\n            \"TractorNumber\": row.TractorNo,\n            \"Level\" : row.IsAtGarage,\n            \"CurrentFuelLevel\": row.Level,\n            \"FuelInfo\":[]\n        };\n        tractors.push(tractor);\n    }\n    \n    tractor.FuelInfo.push({\"FuelLevel\": row.Level, \"Time\": row.Time});\n}\nmsg.payload = tractors;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":320,"wires":[["88761163.d82c"]]},{"id":"499e01b4.80738","type":"postgres","z":"ae8c024b.8577e","postgresdb":"245de5a5.effeda","name":"save fuel info","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":850,"y":120,"wires":[]},{"id":"e47fdfa5.47d0b","type":"function","z":"ae8c024b.8577e","name":"fuel to sql query","func":"var uuidv4 = function () {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\nconst t = new Date(Date.now()).toISOString();\nvar data = JSON.parse(msg.payload);\nvar query = \"INSERT INTO public.fuel VALUES ('\"+ uuidv4() +\"', \"+ data.FuelLevel+\", \"+ data.TractorNo + \",'\" + t +\"');\";\n\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":120,"wires":[["f5fe083c.3a7338"]]},{"id":"41297aea.c67b24","type":"mqtt in","z":"ae8c024b.8577e","name":"","topic":"sensors/position","qos":"2","datatype":"auto","broker":"55023115.6387a","x":160,"y":240,"wires":[["e71dd566.8d2a68"]]},{"id":"150ea1b9.84d7ee","type":"postgres","z":"ae8c024b.8577e","postgresdb":"245de5a5.effeda","name":"save position info","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":890,"y":240,"wires":[]},{"id":"e71dd566.8d2a68","type":"function","z":"ae8c024b.8577e","name":"position to sql query","func":"var uuidv4 = function () {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst t = new Date(Date.now()).toISOString();\nvar data = JSON.parse(msg.payload);\nvar query = 'UPDATE public.position SET \"IsAtGarage\"='+ data.IsAtGarage + ' WHERE \"TractorNo\"=' + data.TractorNo +'; '\n + 'INSERT INTO public.position (\"Id\", \"TractorNo\", \"IsAtGarage\") '\n + \"SELECT '\"+uuidv4()+\"', \" + data.TractorNo +\", \" + data.IsAtGarage\n + ' WHERE NOT EXISTS (SELECT 1 FROM public.position WHERE \"TractorNo\"='+ data.TractorNo + \");\"\n\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["9194695a.3009e8"]]},{"id":"889daf5e.1f18b","type":"function","z":"ae8c024b.8577e","name":"","func":"msg.payload = 'SELECT \"f\".\"TractorNo\", \"f\".\"Level\", \"p\".\"IsAtGarage\", \"f\".\"Time\" FROM \"fuel\" as \"f\" INNER JOIN \"position\" as \"p\" ON (\"p\".\"TractorNo\" = \"f\".\"TractorNo\") Order by \"Time\" desc limit 10;'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["a93f2a44.381768"]]},{"id":"f5fe083c.3a7338","type":"function","z":"ae8c024b.8577e","name":"","func":"msg.queryParameters = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["499e01b4.80738","8c014bd5.0b6738"]]},{"id":"9194695a.3009e8","type":"function","z":"ae8c024b.8577e","name":"","func":"msg.queryParameters = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":240,"wires":[["150ea1b9.84d7ee","8030d669.0cf268"]]},{"id":"8c014bd5.0b6738","type":"debug","z":"ae8c024b.8577e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":20,"wires":[]},{"id":"8030d669.0cf268","type":"debug","z":"ae8c024b.8577e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"55023115.6387a","type":"mqtt-broker","name":"","broker":"amsnodered_mosquitto_1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"245de5a5.effeda","type":"postgresdb","cfgname":"ams_db","hostname":"amsnodered_database_1","port":"5432","db":"ams_db","ssl":false}]